// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$font-family-IBM: 'IBM Plex Serif', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0D47A1;
$green: #FFD54F;
$white: #FFFFFF;
$gray: #F2F2F2;
$black: #000000;

//buttons

$red1: #D61300;
$red2: #BD1100;
$blue3: #049DBF;
$blue4:#14C5D9
