// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/*
*  titles, paragraphs and links
*/

h1, h2, h3, h4 {
  font-family: font-family-IBM;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 20px;
}

a, p, .btn {
  font-family: font-family-poppins;
}

/*
* buttons
*/

.user-button {
  background-color: $red1;
  border: none;
  color: $white;
  margin-bottom: 25px;
  vertical-align: baseline;
  &:hover{
    background-color: $red2;
    color: $white;
  }
}
.btn:focus {
  box-shadow: none;
}
.btn-success:focus {
  background-color: $red2;
  border-color:  $white;
  box-shadow: $white;
  color: $white;
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
  background-color: $red2;
  color: $white;
  border-color:  $white;
  box-shadow: none;
}

/*
*  front-page-menu 
*/

.front-page-menu {
  background-color: $red1;
  a {
    font-size: 18px;
    color: $white;
  }
  .dropdown {
    a{
      font-size: 18px;
      text-transform: capitalize;
    }
  }
}


/*
*  admin - list of categories 
*/

.div-list-categories {
  display: flex;
  justify-content: space-between;
  width: 200px;
  p {
    flex: 1;
  }
}

/*
* list of products
*/

.list-products-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  .card {
    width: 23%;
    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
  }
  .product-image {
    width: 70%;
  }
}

/*
* list of products - cards
*/
.front-page-card {
  text-align: center;
  .products-card-paragraf-pret{
    color: $red1;
    font-weight: 600;
  }
  img {
    margin-bottom: 40px;
  }
  .user-button {
    font-weight: 600;
    padding: 5px 40px;
  }
  .product-image {
    height: auto;
    width: 100%;
  }
}



