<template>
  <div>
    <h1>My Cart</h1>
    <ul class="list-group" v-for="(product, i) in cart" :key="product.id">
      <li class="list-group-item">
        {{product.name}} - 
        <input type="number" v-model="product.quantity" @change="updateCart(i,product)" min="1">bucati
        <p>
          subtotal = {{product.quantity * product.price}} 
        </p>
        <button class="btn btn-danger" @click="deleteFromCart(product)">Delete</button>
      </li>
    </ul>
    <p v-if="cart.length == 0">Cosul tau este gol :(</p>
    <button class="btn btn-success" @click="checkout()" v-else>Trimite comanda</button>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex'

export default {

  created: function() {
    let cart = JSON.parse(localStorage.getItem('cart'))
    this.$store.commit('CART', cart)
  },

  computed : mapGetters(['cart']),

  methods: {
    deleteFromCart: function(product) {
      this.$store.commit('DELETEFROM_CART', product)
    },
    reload: function() {
      this.$store.getters.cart
    },
    checkout: function() {
      this.$store.dispatch('checkout')
    },
    updateCart: function(i, product) {
      this.cart[i] = product
      this.$store.commit('CART', this.cart)
    }

  }


}
</script>