<template>
  <div>
    <router-link class="nav-link" to="/cart">Cosul Meu ({{countCartItems}})</router-link>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';

export default {

  created: function() {
    this.getCart()
  },
  
  methods: {
    ...mapActions(['getCart']),
  },

  computed: mapGetters(['countCartItems', 'cart'])

}
</script>