<template>
  <div>
  </div>
</template>

<script>

import {mapActions} from 'vuex';

export default {
  data() {
    return {
      tab: 'products'
    }
  },

  methods: mapActions(['reset', 'resetOrder']),
}
</script>
