<template>
  <div>
    <div v-if="order.id == 0">
      <h1>List my orders</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>total</th>
            <th>Created at</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="myOrder in orders " :key="myOrder.id">
            <td>{{myOrder.id}}</td>
            <td>{{myOrder.total}}</td>
            <td>{{myOrder.created_at}}</td>
            <td>
              <!-- <router-link :to="'/myorders/' + myOrder.id" >Vizualizeaza comanda</router-link>  -->
              <router-link :to="{path:`/myorders/${myOrder.id}`}" >Vizualizeaza comanda</router-link>   
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';

export default {


  computed: mapGetters(['orders', 'products', 'order']),

  methods: {
    ...mapActions(['myOrders']),

    productName: function(id) 
    {
      for(let i = 0; i < this.products.length; i++) {
        if(id == this.products[i].id) {
          return this.products[i].name
        }
      }
    }
  },

  created() {
    this.myOrders()
  },


}
</script>