<template>
  <div>
    <div v-if="product.id == 0">
      <h1>Produsele noastre</h1>
      <div class="list-products-cards">
        <div class="card" v-for="product in products" :key="product.id"  style="cursor:pointer">
          <div class="card-body front-page-card" @click="$router.push({ path: '/products/' + product.id})">
            <p><img :src="'/storage/' + product.image" class="product-image"></p>
            <p class="products-card-paragraf-name">{{product.name}}</p>
            <p class="products-card-paragraf-pret">{{product.price}} LEI</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';

export default {

  methods: {
    ...mapActions(['listProducts']), // ... object destructuring; sparge obiectul in proprietati
    addToCart: function(product) {
      this.$store.commit('ADDTO_CART', product)
    }
  },

  computed: mapGetters(['products', 'product']),

  created() {
    this.listProducts();
  }


}
</script>