<template>
  <div>
    <router-link class="nav-link" :to="{path:'/userorders', force:true}">Comenzile Mele</router-link>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex';

export default {

  created: function() {
    this.getCart()
  },
  
  methods: {
    ...mapActions(['getCart']),
  },

  computed: mapGetters(['countCartItems', 'cart'])

}
</script>
