<template>
  <div>
    <div>
      <h1>Detalii comanda</h1>
      <p> Numar comanda: {{order.id}}</p>
      <p> total : {{order.total}}</p>
      <p> Data comanda {{order.created_at}}</p>

      <ul>
        <li v-for="item in order.items" :key="item.id">
          Produs: {{item.product_id}}
          Bucati: {{item.quantity}}
        </li>
      </ul>
    </div>
  </div>
</template>


<script>

import {mapActions, mapGetters} from 'vuex';

export default {

  computed: {
    ...mapGetters(['order', 'products']), 
    orderId : function() {
      return this.$route.params.id
    }
  },

  created() {
    this.getOrderById(this.$route.params.id)
  },

  methods: {
    ...mapActions(['getOrderById']),
  },

  watch: {
    orderId: function(value) {
      this.getOrderById(value)
    }
  },
  
}
</script>