<template>
  <div>
    <div>
      <p>{{product.name}}</p>
      <p>price: {{product.price}}</p>
      <button class="btn btn-success user-button" @click="addToCart(product)">Adauga in cos</button>
      <a href="/products" > Mergi inapoi </a>
    </div>
  </div>
</template>


<script>

import {mapActions, mapGetters} from 'vuex';

export default {

  computed:{
    ...mapGetters(['product']),
    productId: function() {
      return this.$route.params.id
    }
  },  

  methods: {
    ...mapActions(['getProductById']),
    addToCart: function(product) {
      this.$store.commit('ADDTO_CART', product)
      this.$router.push('/cart')
    }
  },

  watch: {
    productId: function(value) {
      this.getProductById(value)
    }
  },  
  
  created() {
    this.getProductById(this.productId)
  }

}
</script>