<template>
  <div>
    <div>
      <h1>Add a new category</h1>
      <input type="text" placeholder="Add a new Category" v-model="category.name">
      <button class="btn btn-primary" @click="createCategory(category)">Add</button>
    </div>
  </div>
</template>

<script>

import {mapActions} from 'vuex';

export default {
  data(){
    return {
      category: {
        name: ""
      },
    }
  },

  methods: {
    createCategory: function() {
      axios.post('http://192.168.10.10:8000/admin/categories', this.category)
        .then(()=>{
          this.$router.push('/admin-categories')
        })
    },
  }

}
</script>