<template>
  <div>
    <button class="btn btn-primary" @click="showAddProduct = true"
      v-if="showAddProduct == false"
    >
      Add Product
    </button>
    <div v-if="showAddProduct">
      <h1>Add product</h1>
      <input type="text" placeholder="Create the name" v-model="form.name">
      <label>Category</label>
      <select v-model="form.category_id">
        <option v-for="category in categories" :key="category.id" :value="category.id">
          {{category.name}}
        </option>
      </select>
      <label>Price</label>
      <input type="number" placeholder="Create the price" v-model="form.price">
      <label>Stock</label>
      <input type="number" placeholder="stock" v-model="form.stock">
      <label>Image</label>
      <input type="file" ref="file" @change="uploadImage()">
      {{form.image}}
      <button class="btn btn-success" @click="createProduct(form); showAddProduct = false">Create</button>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex'

export default {
  data() {
    return {
      form: {
        name : "",
        price : 0,
        stock : 0,
        category_id:0,
        image: ''
      },
      showAddProduct: false
    }
  },

  methods: {
    ...mapActions(['createProduct', 'listCategories']),
    uploadImage: function() {
      this.form.image = this.$refs.file.files[0]
    }
  },

  computed: mapGetters(['categories']),

  created() {
    return this.listCategories()
  }

}
</script>