<template>
  <div>
    <button class="btn btn-success" @click="tab = 'categories'">Categories</button>
    <button class="btn btn-success" @click=" tab = 'products'">Products</button>
    <button class="btn btn-success" @click=" tab = 'orders'">Orders</button>

    <div class="row" v-if="tab == 'categories'">
      <div class="col-lg-12">
        <add-category></add-category>
        <list-categories></list-categories>
        <edit-category></edit-category>
      </div>
    </div>

    <div v-if=" tab == 'products' ">
      <div class="row">
        <div class="col-lg-12">
          <add-product></add-product>
          <edit-product></edit-product>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <list-products></list-products>
        </div>
      </div>
    </div>

    <div class="row" v-if="tab == 'orders'">
      <div class="col-lg-12">
        <admin-list-orders></admin-list-orders>
      </div>
    </div>

  </div>
</template>



<script>
export default {
  data() {
    return  {
      tab: 'products'
    }
  }
}
</script>


