<template>
  <div>
    <div v-if="editCategoryForm">
      <h1>Edit category</h1>
      <input type="text" placeholder="Edit the name" v-model="category.name">
      <button class="btn btn-success" @click="updateCategory(category); $store.commit('EDITCATEGORYFORM', false)">Update</button>
    </div>
  </div>
</template>
<script>

import {mapActions, mapGetters} from 'vuex'

export default {


  methods: mapActions(['updateCategory']),

  computed: mapGetters(['category', 'editCategoryForm']),

}
</script>