<template>
  <div>
    <div v-if="editProductForm">
      <h1>Edit Product</h1>
      <input type="text" placeholder="Edit the name" v-model="product.name">
      <label>Category name</label>
      <select v-model="product.category_id">
        <option v-for="category in categories" :key="category.id" :value="category.id">
          {{category.name}}
        </option>
      </select>
      <label>Product price</label>
      <input type="number" v-model="product.price">
      <label>Product Stock</label>
      <input type="number" v-model="product.stock">
      <button class="btn btn-primary" @click="updateProduct(product); $store.commit('EDITPRODUCTFORM', false)">Edit</button>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';

export default {

  methods: mapActions(['updateProduct']),

  computed: mapGetters(['product', 'categories', 'editProductForm']),

}
</script>