<template>
    <div>
    <h1>List of categories</h1>
    <router-link class="btn btn-success" to="/admin-categories-create">
      Add Category
    </router-link>
    <div class="div-list-categories" v-for="category in categories" :key="category.id">
          <p>
            {{category.name}}
          </p>
        <button class="btn btn-success" @click="editCategory(category.id); $store.commit('EDITCATEGORYFORM', true)">Edit</button>
        <button class="btn btn-danger" @click="deleteCategory(category.id)">Delete</button>
      
    </div>
  </div>
</template>
<script>

import {mapActions, mapGetters} from 'vuex';

export default {

  methods: mapActions(['listCategories', 'editCategory', 'deleteCategory']),

  computed: mapGetters(['categories']),

  created() {
    this.listCategories()
  }


}
</script>