<template>
  <div>
    <h1>List my orders</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>total</th>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in orders " :key="order.id">
          <td>{{order.id}}</td>
          <td>{{order.total}}</td>
          <td>{{order.created_at}}</td>
          <td>
            <router-link :to="{path:`/myorders/${order.id}`}" >Vizualizeaza comanda</router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex';

export default {
  computed: mapGetters(['orders', 'products']),

  methods: mapActions(['adminOrders']),

   created() {
    this.adminOrders()
  }
}
</script>