<template>
  <div>
    <add-product></add-product>
    <div class="list-products-cards">
      <div class="card" v-for="product in products" :key="product.id">
        <div class="card-body">
          <label>Product name</label>
          <p>{{product.name}}</p>
          <label>Product category</label>
          <p>{{product.category.name}}</p>
          <label>Product price</label>
          <p>{{product.price}}</p>
          <label>Product stock</label>
          <p>{{product.stock}}</p>
          <label>Poze</label>
          <p><img :src="'/storage/' + product.image" style="width: 40px;"></p>
          <button class="btn btn-primary" @click="editProduct(product.id); $store.commit('EDITPRODUCTFORM', true)">Edit</button>
          <button class="btn btn-danger" @click="deleteProduct(product.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from 'vuex'
import AddProduct from './AddProduct.vue'

export default {
  components: { AddProduct },
 
created(){
  this.listProducts()
},

computed: mapGetters(['products']),

methods: mapActions(['listProducts', 'deleteProduct', 'editProduct'])


}
</script>